body{
    background-color: #F2F2F2;
}

#titulo{
    text-align: center;
    font-size: 50px;
    color: #30348C;
}

.paragrafo {
    text-align: justify;
    font-size: 35px;
    color: #7B7DA6;
    }

.logo {
    border-radius: 50px;
    border: 2rem double #3339A6;
    width: 50px;
}