body{
    background-image:  linear-gradient(#DFE0F2, #F2C1B6);
}

.cabecalho {
    color: #30348C;
    font-size: 25px;
    padding: 50px;
    border-bottom: 5px solid #72735D ;
    background-color: #97BF95;
    display: flex;
    justify-content: space-around;
}
.escola {
    padding-top: 30px;
    background-color: white;
}

#titulo{
    text-align: center;
    font-size: 50px;
    color: #30348C;
}
.imagem-principal{
    text-align: right;
}

.paragrafo {
    text-align: justify;
    font-size: 35px;
    color: #3339A6;
    }

.img-cabecalho {
    border-radius: 15px;
    border: 2px double #3339A6;
    width: 120px;
    height: 120px;
    margin: 10px;
    padding: 5px;
}

.imagem{
    width: 500px;
    height: 300px;
    margin: 10px;
    padding: 3px; 
    border: 0.5rem solid #BF9075;
    border-radius: 24px;  
}

.listas {
    font-size: 30px;
    text-align: center;
    background-color: #97BF95;
}

.lista1 {
    background-color: #B2D9A0;
}