body{
    background-image:  linear-gradient(#DFE0F2, #FFFFFF);
}

.cabecalho {
    color: #30348C;
    font-size: 25px;
    padding: 20px;
    border-bottom: 2px dotted rgb(249, 112, 112);
    background-color: rgb(21, 242, 168);
    display: flex;
    justify-content: space-around;
}
.escola {
    background-color: white;
}

#titulo{
    text-align: center;
    font-size: 50px;
    color: #30348C;
}
.imagem-principal{
    text-align: right;
}

.paragrafo {
    text-align: justify;
    font-size: 35px;
    color: #3339A6;
    }

.img-cabecalho {
    border-radius: 15px;
    border: 2px double #3339A6;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
}

.listas {
    font-size: 30px;
    text-align: center;
    background-color: #30348C;
}

.lista1 {
    background-color: #4A4E8C;
}